<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-body">
        <h3>MECALUX</h3>
        <button (click)="addRow()" class="btn btn-primary pull-right" style="cursor: pointer;">Add</button>
        <br>
        <table class="table table-bordered">
          <thead class="text text-primary">
          <tr>
            <th>Product</th>
            <th>Dimensions</th>
            <th>Price, EUR</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows; let i = index;">
            <td>
              <select class="form-control form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Choose product</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </td>
            <td>
              <input [(ngModel)]="rows[i].email" class="form-control" type="text"/>
            </td>
            <td>
              <input [(ngModel)]="rows[i].mobno" class="form-control" type="text"/>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteRow(i)" style='cursor: pointer;'>Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-info" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
