:host {
  display: grid;
  justify-content: center;
  align-items: center;
  /*background-color: yellow;*/
  position: center;
  top: 10em;
  left: 20em;
  /*height: 10em;*/
  /*width: 20em;*/
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
}
