<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="dropdown" appDropdown>
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose manufacturer
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <li *ngFor="let product of products"><a class="dropdown-item" href="#">{{ product.name | titlecase}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
